@import url('https://fonts.googleapis.com/css?family=B612+Mono|Special+Elite&display=swap');


.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.maingrid {
  display: flex;
  width: 70%;
}

.gridrow {
  width: 100% !important;
}

/* Profile image and card */
.leftside {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  width: 80%;
}
.rightside {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}

.rightsidetext {
  font-size: 2rem;
  font-family: 'Special Elite', cursive, Tahoma, Sans-Serif;
  width: 420px;
}

.profileimage {
  border-radius: 50%;
  width: 18rem;
}

.card {
  width: 20rem !important;
}

.icocontainer {
  display: flex;
  align-content: baseline;
}

.svg {
  opacity: 0.7;
}
.svg:hover {
  opacity: 1;
}

.mediumico {
  opacity: 0.7;
  margin-left: 4px;
  width: 44px;
}
.mediumico:hover {
  opacity: 1;
}

@media (min-width: 200px) and (max-width: 449px) {
  .profileimage {
    width: 12rem;
  }
  .card {
    width: 20rem !important;
  }
  .rightsidetext {
    font-family: 'Special Elite', cursive, Tahoma, Sans-Serif;
    font-size: 1.5rem;
    width: 320px;
  }
}

@media (min-width: 450px) and (max-width: 1000px) {
  .profileimage {
    width: 12rem;
  }
  .card {
    width: 20rem !important;
  }
  .rightsidetext {
    font-family: 'Special Elite', cursive, Tahoma, Sans-Serif;
    font-size: 1.5rem;
    width: 320px;
  }
}